@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F5EB;
  --foreground: #0F0F0F;
  --scrollbarColor: #f8f9fa;
  --scrollbar-width: 8px;
  --scrollbar-bg-color: #191919;
  --scrollbar-thumb-color: rgba(238, 173, 33, 0.5);
  --scrollbar-thumb-hover-color: rgba(238, 173, 33, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #F7F5EB;
    --scrollbar-bg-color: #191919;
  --scrollbar-thumb-color: rgba(238, 173, 33, 0.5);
  --scrollbar-thumb-hover-color: rgba(238, 173, 33, 1);
  }
}

@layer base {

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-inter;
  letter-spacing: 0.02em;
}

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input,
  input:focus {
    outline: none;
  }

  ::-moz-selection {
    color: black;
    background-color: #f3c751;
  }

  ::selection {
    color: black;
    background-color: #f3c751;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--scrollbar-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    transition: all 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
  }
}
